/* stylesheet */

body {
    background: honeydew;
    font-family: monospace, Arial, Helvetica, sans-serif
}

.titleCard {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    background-color: rgb(153, 242, 242);
    padding: 20px;
    border-style: none;
    border-radius: 15%;
}

.recipeList {
    width: fit-content;
    height: fit-content;
    margin: 30px auto;
    background-color: rgb(153, 242, 242);
    border-style: none;
    border-radius: 15%;
}

li {
    margin: 5px 5px;
}

.pic {
    margin: 10px auto;
    display: block;
    width: 25%;
    height: auto;
}