/* stylesheet */

html {
    background: url(../img/bkg.png) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', "PT Sans", sans-serif;
}

.titleCard {
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    border-style: none;
    border-radius: 15%;
}

.recipeList {
    width: fit-content;
    height: fit-content;
    margin: 30px auto;
    color: black;
    border-style: none;
    border-radius: 15%;
}

li {
    margin: 5px 5px;
}

.pic {
    margin: 10px auto;
    display: block;
    height: 40vh;
    width: auto;
}